<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Acuminous</key>
	<dict>
		<key>AppId</key>
		<string>beacon-toolkit</string>
		<key>TrackerNamespace</key>
		<string>com.github.jramos</string>
		<key>TrackerHostname</key>
		<string>cumulo.acuminous.io</string>
		<key>InitPlatformContext</key>
		<true/>
		<key>InitSessionContext</key>
		<true/>
		<key>InitGeoContext</key>
		<true/>
		<key>Base64Encode</key>
		<true/>
	</dict>
</dict>
</plist>
