<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>UUID</string>
			<key>Key</key>
			<string>beaconUUID</string>
			<key>DefaultValue</key>
			<string>C48C6716-193F-477B-B73A-C550CE582A22</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Major</string>
			<key>Key</key>
			<string>beaconMajor</string>
			<key>DefaultValue</key>
			<string>00</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Minor</string>
			<key>Key</key>
			<string>beaconMinor</string>
			<key>DefaultValue</key>
			<string>00</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Identifier</string>
			<key>Key</key>
			<string>beaconIdentifier</string>
			<key>DefaultValue</key>
			<string>com.github.jramos</string>
		</dict>
	</array>
</dict>
</plist>
